<div class="container">
  <section class="row">
    <div class="col-lg-1 circle"><%= current_user.name %></div>
    <div class="col-lg-6 user-page">
      <h2><%= "#{@user.name}'s Page" %></h2>
    </div>
    <div class="col-lg-5">
      <button type="button" class="btn btn-frq">
        <%= friend_show_btn if @user != current_user %>
      </button>
    </div>
  </section>
  <section class="row user-posts">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <article class="timeline">
        <h3>All your Posts</h3>
        <ul class="posts">
          <%= render @posts %>
        </ul>
      </article>
    </div>
    <div class="col-lg-1"></div>
  </section>
</div>