<h1>Friend Requests</h1>

<div>

  <% @friend_requests.each do |friendship| %>
    <% unless friendship.confirmed %>
      <h1><%= "#{friendship.user.name} want to be your friend" %></h1>
      <button type="button">
        <%= confirm_btn friendship %>
      </button>
      <button type="button">
        <%= decline_btn friendship %>
      </button>
    <% end %>
  <% end %>

</div>
