@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Raleway&family=Roboto:ital,wght@1,500&display=swap');

$primary-color-dark: #689f38;
$primary-color: #8bc34a;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;
$divider-color: #bdbdbd;

// 'Allerta', sans-serif;
// 'Raleway', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #e7d6aa;
  position: relative;
  font-family: 'Allerta', sans-serif;
  font-weight: 400;
}

.shadow {
  box-shadow: 1px 1px 4px #333;
  margin-bottom: -1px;
}

.left ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  list-style: none;
}

.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.right {
  padding-right: 30px;
}

.left-items, .right-items {
  font-size: 2rem;
}

.left, .right {
  padding-top: 10px;
}

.new-comer:not(:last-child) {
  margin-left: 250px;
}

.left-items:not(:first-child) {
  margin-right: 80px;
}

.login-show:not(:last-child) {
  margin-left: 25px;
}

.nav-link {
  color: #222;
  &:hover {
    text-decoration: none;
    color: dimgray;
  }
}

.connect h1 {
  font-size: 4rem;
}

.share h2 {
  font-size: 26px;
  font-family: 'Allerta', sans-serif;;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 20px;
}


.container {
  margin-top: 50px;
}

  .b-content {
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Allerta', sans-serif;;
    font-style: italic;
    font-weight: normal;
  }

  .form-control {
    width: 100%;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 10px;
}

.notice,
.alert {
  margin-top: 50px;
  margin-bottom: 8px;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 7px;
  color: dimgrey;
  font-size: 16px;
}

.notice {
  background-color: #FFFACD;
}

.alert {
  background: #FFFACD;
}

.errors {
  font-size: 10px;
  color: red;
}

.sign-form {
  background: #fff;
  margin-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px #333;
  h2 {
    text-align: center;
    font-family: 'Allerta', sans-serif;
  }
}

.welcome {
  font-size: 6rem;
  margin-top: 9rem;
  text-shadow: 2px 2px #daa520;
}

.getin {
  font-size: 4rem;
  text-shadow: 2px 2px #000;
  color: #daa520;
}

.global h2 {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  color: #000;
  text-shadow: 2px 2px #daa520;
  font-style: italic;
  margin-top: 15rem;
}

.user-timeline {
  text-align: center;
  text-shadow: 2px 2px #daa520;
  margin-top: 30px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 28px;
  margin-left: 110px;
  background: #daa520;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Allerta', sans-serif;
}

.user-bg {
  background: #fff;
  border-radius: 130px;
}

.save-btn {
  width: 15%;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #fff;
  background: #daa520;
}

.btn-comments {
  width: 18%;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-top: 5px;
  background: #daa520;
  &:hover {
    color: #000;
  }
}

.all-bg {
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.author-likes {
  display: flex;
  align-items: center;
}

.post-author {
  font-size: 22px;
  color: #daa520;
  font-family: 'Allerta', sans-serif;
}

.likes {
  color: #daa520;
}

.users-posts {
  font-size: 3rem;
  font-family: 'Allerta', sans-serif;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px #daa520;
}

.user-posts {
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.post-liking {
  margin-left: 120px;
}

.post-comments {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 5px;
}

.commenter {
  margin: 0;
}

.span-date {
  margin-right: 23px;
}

.post {
  margin-bottom: 50px;
}

.user-page {
  font-size: 5rem;
  font-family: 'Allerta', sans-serif;
  font-style: italic;
  margin-top: 20px;
}

.timeline h3 {
  font-size: 4rem;
  font-family: 'Allerta', sans-serif;
  text-align: center;
  text-shadow: 1px 1px #daa520;
  margin-bottom: 50px;
}

.frq-list h1 {
  text-align: center;
  text-shadow: 2px 2px #daa520;
}

.users-section {
  background: #fff;
  list-style: none;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.all-users {
  text-align: center;
  text-shadow: 2px 2px #daa520;
}

.users-list {
  margin-bottom: 50px;
  list-style: none;
}

.info-list {
  display: block;
  margin-bottom: 30px;
}

.profile-link {
  font-size: 2rem;
  color: #daa520;
}

.profile-link,
.frd-rqst {
  margin-left: 20px;
}

.frd-rqst {
  font-size: 1.8rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #e7d6aa;
  color: #fff;
}

.connect-container {
  background: #fff;
  border-radius: 10px;
  padding-bottom: 50px;
}

.connect-info {
  text-align: center;
}

.btn-accept-reject {
  display: flex;
  justify-content: center;
}

.btn-confirm,
.btn-decline {
  padding: 7px;
  border: none;
  border-radius: 10px;
}

.btn-confirm {
  background: #DAF7A6;
}

.btn-decline {
  background: #FF5733;
  margin-left: 10px;
}

form {
  width: 80%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0px;
    label {
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      border: 1px solid grey;
      border-bottom: none;
      border-radius: 20px;
      padding: 8px;
      background-color: transparent;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }

  .btn-signup {
    margin-top: 10px;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
      margin-top: 15px;
    }
  }
}
